:root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Shippori Antique B1', sans-serif;
}

header{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}

/*All Pagues*/
.contenedor{
	width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

/* Menu */
.cabecera{
	display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    height: inherit;
    padding: 0;
}
.logo{
    width: 150px;
}
.marca{
	font-size: 24px;
    display: flex;
}
.menu{
	padding-bottom: 10px;
        text-align: center;
}
.link{
	display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.actual{
	color: var(--gold1);
    font-weight: 700;
}

/* Parte 1 */
.cabecera-baner{
	height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}
.texto{
	width: 48%;
}
.titulo{
	font-size: 56px;
    font-weight: 300;
    color: #fff;
}
.des{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 1px 0 ;
}
.tol{
    margin-top: 15px;
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}
.imagen-cabecera{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

/* Parte 2 */
.videos{
    background: #fafafa;
}
.subtitulo{
    font-size: 40px;
    line-height: 32px;
    margin-bottom: 60px;
}
.caja-videos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.caja-video{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}
.video{
    position: relative;
    text-align: center;
}
.img-video{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.time-video{
    background: var(--black2);
    position: absolute;
    left: 87%;
    bottom: 5%;
    color: var(--gold1);
}
.caja-texto{
    text-align: left;
    width: 90%;
    margin:0 auto;
}
.titulo-video{
    font-size: 24px;
    color: #fff;
    margin-bottom: 8px;
}
.descripcion-video{
    color: var(--gray2);
    margin-bottom: 16px;
}

/* Parte 3 */
.contenedor-noticias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.noticia{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}
.img-noticia{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.descripcion-noticia-img{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}
.titulo-img{
    font-size: 24px;
    margin-bottom: 4px;
}
.descripcion-noticia{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}
.descripcion-noticia-texto{
    text-align: left;
    width: 90%;
    margin:0 auto;
}
.titulo-noticia{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}
.fecha-noticia{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.descripcion{
    color: var(--gray2);
    margin-bottom: 16px;
}
.boton-noticia{
    display: block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

/* Parte 4 */
.contenido{
    background: #fafafa;
}
.contenedor-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.tv-contenido{
    width: 22%;
    height: 400px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--gray) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}
.img-contenido{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.texto-contenido{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}
.informacion-contenido{
    width: 90%;
}
.titulo-contenido{
    font-size: 24px;
    line-height:28px;
}
.descripcion-contenido{
    color: var(--gray);
}
/* Pie de Pagina */
footer{
    background: #fafafa;
}
.footer-c{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.descargas{
    width: 50%
}
.titulo-footer{
    font-size: 24px;
    margin-bottom: 32px;
}
.descargar-app{
    display: flex;
}
.descargar-item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid var(--black2);
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}
.descarga-logo{
    width: 40px;
    /*font-size: 40px;*/
    margin-right: 20px;
}
.titulo-app{
    font-size: 18px;
    font-weight: bold;
}

.e-mail{
    width: 50%;
}
.form-n{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}
.e-mail-form{
    margin: 0;
    width: 80%;
}
.e-mail-input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1)
}
.e-mail-submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}
.redes-sociales{
    margin-top: 24px;
    display: flex;
    color: var(--black2);
}
.texto-redes-sociales{
    color: var(--black2);
    margin-right: 16px;
}
.social-media{
    font-size: 18px;
    padding-top: 5px;
    margin-right: 30px;
    display: inline-block;
}
.footer-d-a{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}
.copyright{
    color: var(--gray);
    width: 100%;
}
.politica-priv{
    color: var(--gray);
    /*text-decoration: none;
    /*display: inline-block;*/
    margin-top: 10px;
    margin-right: 10px;
}
.terminos-con{
    color: var(--gray);
    /*text-decoration: none;
    /*display: inline-block;*/
    margin-top: 10px;
}
.politica-priv:hover{
    color: var(--gold1);
}
.terminos-con:hover{
    color: var(--gold1);
}

/* FORMULARIO */
.form-contacto{
    border: solid black 2px;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff80;
    opacity: .7;
    font-size: 18px;
}
.form-contacto > div {
    width: 80%;
}
label, .entrada, textarea {
    display: block;
    margin-bottom: 10px;
}
.entrada, textarea {
    border: none;
    outline: none;
    background-color: rgb(238, 238, 238);
    width: 100%;
    padding: 7px 7px;
}
.bordes {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.bordes:focus, textarea:focus {
    background-color: black;
    color: rgb(238, 238, 238);
}
textarea {
    border: 2px solid black;
    height: 10rem;
    text-align: center;
}
#primer-bloque{
    display: flex;
    justify-content: space-between;
}
#primer-bloque > div {
    width: 48%;
}

#texto{
    text-align: center;
    margin-right: 10px;
    color: white;
}
#enviar{
    padding-top: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
}

/* MediaQuery */
@media screen and (max-width:900px){

    /* Parte 1 */
    .titulo{
        font-size: 50px;
    }
    .des{
        font-size: 22px;
    }
    ´.tol{
        padding: 15px 22px;
    }
    .imagen-cabecera{
        width: 600px;
        height: auto;
    }

    /* Parte 2 */
    .videos .caja-video{
        width: 45%;
    }
    .caja-videos{
        justify-content: space-evenly;
    }

    /* Parte 3 */
    .noticia{
        width: 52%;
    }
    .descripcion-noticia{
        width: 42%;
    }

    /* Parte 4 */
    .contenedor-contenido{
        justify-content: space-evenly;
    }
    .tv-contenido{
        width: 45%;
    }
    
    /* Pie de Pagina */
    .descargas{
        width: 100%;
    }
    .descargar-app{
        justify-content: space-between;
    }
    .descargar-item{
        width: 45%;
    }
    .e-mail{
        width: 100%;
        margin-bottom: 40px;
    }
    .form-n{
        width: 80%;
    }
    .redes-sociales .social-media{
        font-size: 18px;
    }

}
@media screen and (max-width:700px){
   
    main .contenedor, footer .contenedor{
        padding: 60px 0;
    }
    /* Parte 1 */
    .cabecera{
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }    
    .marca{
        padding: 15px 0 ;
        text-align: center;
    }
    .menu{
        padding-bottom: 10px;
        text-align: center;
    }
    .link{
        padding: 7px 10px;
    }
    .cabecera-baner{
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }
    .texto{
        width: 100%;
        text-align: center;
    }
    .titulo{
        font-size: 35px;
    }
    .des{
        font-size: 20px;
    }
    .imagen-cabecera{
        width: 60%;
        margin-bottom: 20px;
    }

    /* Parte 2 */
    .caja-videos{
        justify-content: space-evenly;
    }
    .videos .caja-video{
        width: 80%;
    }
    .subtitulo{
        font-size: 35px;
        text-align: center;
    }
    .caja-video{
        margin-bottom: 40px;
        width: 65%;
    }
    .titulo-video{
        font-size: 35px;
    }

    /* Parte 3 */
    .contenedor-noticias{
        justify-content: space-evenly;
    }
    .noticia{
        margin-bottom: 40px;
        width: 65%;
    }
    .titulo-img{
        font-size: 35px;
    }
    .descripcion-img{
        display: none;
    }

    
    .titulo-noticia{
        font-size: 35px;
    }
    .descripcion-noticia{
        margin-bottom: 40px;
        width: 65%;
    }
    .boton-noticia{
        width: 100%;
    }

    /* Parte 4 */
    .contenedor-contenido{
        justify-content: space-evenly;
    }
    .tv-contenido{
        width: 65%;
    }
    .titulo-contenido{
        font-size: 20px;
    }

    /* Pie de Pagina */
    .footer-d-a{
        width: 100%;
        padding: 30px 0;
    }
    /* Formulario */
    .form-contacto {
    width: 80%;
    height: 80%;
    padding: 20px 0;
    font-size: 14px;
    }
}    
@media screen and (max-width:500px){
    /* Parte 1 */
    .cabecera{
        text-align: center;
    } 
    .imagen-cabecera{
        width: 80%;
        margin-bottom: 15px;
    }

    /* Parte 2 */
    .videos .caja-video{
        width: 95%;
    }

    /* Parte 3 */
    .noticia{
        width: 95%;
    }
    .descripcion-noticia
    {
        width: 95%;
    }

    /* Parte 4 */
    .tv-contenido{
        width: 95%;
    }
    /* Pie de Pagina */
    .descargar-item{
        width: 49%;
    }
    /*.descarga-logo{
        font-size: 30px;
    }*/
    .titulo-app{
        width: 15px;
    }

    .e-mail{
        width: 100%;
        margin-bottom: 40px;
    }
    .form-n{
        width: 100%;
        display: none;
    }
    .e-mail-form{
        display: block;
    }
    /* Formulario */
    .form-contacto{
    width: 90%;
    height: 70%;
    padding: 20px 0;
    font-size: 14px;
    }
}